.page-wrapper{
    width: 99%;
    border: 1px solid red;
   padding-bottom: 1%;
   margin-top: 1%;
}
.top-contain{
    border: 1px solid skyblue;
    width: 97%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left: 1.5%;
}
.top-box{
    width: 90%;
    background-color: green;
    margin: auto;
    height: 3vh;
    padding-top: 1%;
}
.top-contain{
    border: 1px solid skyblue;
    width: 97%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left: 1.5%;
}
.top-box{
    width: 90%;
    background-color: green;
    margin: auto;
    height: 3vh;
    padding-top: 1%;
}
.top-contain{
    border: 1px solid skyblue;
    width: 97%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left: 1.5%;
}
.top-box{
    width: 90%;
    background-color: green;
    margin: auto;
    height: 3vh;
    padding-top: 1%;
}
.top-contain{
    border: 1px solid skyblue;
    width: 97%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left: 1.5%;
}
.top-box{
    width: 90%;
    background-color: green;
    margin: auto;
    height: 3vh;
    padding-top: 1%;
}
.top-contain{
    border: 1px solid skyblue;
    width: 97%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left: 1.5%;
}
.top-box{
    width: 90%;
    background-color: green;
    margin: auto;
    height: 3vh;
    padding-top: 1%;
}
.top-contain{
    border: 1px solid skyblue;
    width: 97%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left: 1.5%;
}
.top-box{
    width: 90%;
    background-color: green;
    margin: auto;
    height: 3vh;
    padding-top: 1%;
}
